{% extends 'profile/profile_base.html' %}

{% block title %}Profile - {{username}}{% endblock %}

{% block usrname %}
    {{username}}
{% endblock %}

{% block logout_link %}
    <a href="/logout">Logout</a>
{% endblock %}

{% block content %}

    {% if status == 0 %}

    <div class="message-box">
        <div class="wrapper">
            <div class="message-info">
                <p style="color: green"><b>Your current balance: {{balance}} BTC</b></p>
                <br>
                <p style="color: red"><b>
                    For Withdraw/Transfer your tokens. 
                    <br>
                    You must complete our <a href="/invest">VIP subscription</a>
                </b></p>
            </div>
        </div>
    </div>


        <style>

            .wrapper
            {
                position: absolute;
                left: 50%; /* relative to nearest positioned ancestor or body element */
                top: 50%; /*  relative to nearest positioned ancestor or body element */
                transform: translate(-50%, -50%);
            }

            .message-info
            {
                padding: 10px;
            }
            
            .message-box{
                background-color: #F1F1F1;
                z-index: 100;
                position: absolute;
                left: 50%; /* relative to nearest positioned ancestor or body element */
                top: 50%; /*  relative to nearest positioned ancestor or body element */
                transform: translate(-50%, -50%);
                width: 30%;
                height: 200px;
                border-radius: 10px;
            }

            .container {
                filter: blur(2px);
                pointer-events:none;
                
            }
            .container-2 {
                filter: blur(2px);
                pointer-events:none;

            }
            .transfer-history-check{
                filter: blur(2px);
                pointer-events:none;
                cursor: default;
            }
        </style>
        
    {% endif %}

    <style>

        .container
        {
            margin-top: 50px;
            display: flex;
            column-gap: 100px;
        
            justify-content: center;
        }

        .container div
        {
            width: 300px;
            height: 130px;
            padding: 5px;
            border-radius: 15px;
            background-color: white;
            cursor: pointer;
            text-align: center;

        }

        .container div:hover
        {
            background-color: #A2A2A2;
        }

        .container-2
        {
            margin-top: 50px;
            display: flex;
            column-gap: 100px;
        
            justify-content: center;
        }

        .container-2 div
        {
            width: 300px;
            height: 130px;
            padding: 5px;
            border-radius: 15px;
            background-color: white;
            cursor: pointer;
        }

        .container-2 div:hover
        {
            background-color: #A2A2A2;
        }


        .transfer-history-check
        {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction:column;
            margin-top: 5%;
            height: 50px;
            width: 80%;
            border-radius: 10px;
            cursor: pointer;
        }

        .transfer-history-check:hover
        {
            background-color: #A2A2A2;
        }

        .transfer-history-check h3
        {
            padding: 15px; 
        }

        .container p 
        {
            text-align:center;
            margin-top: 55px;  
        }

        .container-2 p 
        {
            text-align:center;
            margin-top: 55px;  
        }

        #btn1{color: black;}

        
        .withdraw-message
        {
            color:red; 
            font-size: 15px;
            background-color: #ffcaca;
            background-image:url(/Content/x.png);
            background-size: 20px 20px;
            background-repeat:no-repeat;
            background-position:2px;
            padding: 5px;
            border-radius: 5px 5px 5px;
            border: 1px solid red;
            padding-left: 25px;
            position:relative;
        }
    </style>

    <div style="height: 50px;"></div>
    {% if status > 0 %}
    <div class="withdraw-message">
        Withdrawal to your registered Bitcoin wallet address has been disabled because you haven't withdrawn for more than 365 days. 
        To reactivate withdrawal you need to contact customer care and provide your secure key you created during account registration.You will still be able to carry out transfers and transactions from your account balance to other Btcsave VIP members without your secure key for the next 6 months.
    </div>
    {% endif %}

    <div class="container">
        
        

        <a id="btn1" style="text-decoration: none;" href="/deposit">
            <div class="deposit-block">
                <p><b>Deposit</b></p>
            </div>
        </a>

        <a id="btn1" style="text-decoration: none;" href="/withdraw">
            <div class="withdraw-block">
                <p><b>Withdraw</b></p>
            </div>
        </a>

        <a id="btn1" style="text-decoration: none;" href="/transfer">
            <div class="transfer-block">
                <p><b>Transfer</b></p>
            </div>
        </a>

    </div>

    <div class="container-2">
        
        <a id="btn1" style="text-decoration: none;" href="/generate-check">
            <div class="deposit-block">
                <p><b>Generate eCheck</b></p>
            </div>
        </a>
        
        <a id="btn1" style="text-decoration: none;" href="/exchange-check">
            <div class="withdraw-block">
                <p><b>Exchange eCheck</b></p>
            </div>
        </a>
        
        <a id="btn1" style="text-decoration: none;" href="/about">
            <div class="transfer-block">
                <p><b>About</b></p>
            </div>
        </a>

    </div>
    <center>
        <a href="/transfer/history" style="text-decoration: none; color: black;" class="transfer-history-check">
            <div>
                <h3 align="center">My transfer history</h3>
            </div>
        </a>
    </center>

{% endblock %}
