<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bitcoin Save</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/loginpage.css')}}" >
  </head>
  <body style="background-image: url({{url_for('static', filename="images/mainbackground.png")}});">
    
        <nav>
            <img src="{{url_for('static', filename="images/btcsave.png")}}" alt="Btcsave" class="nav-logo">
        </nav>

        <div class="login-form">
            <form id="group">
                <table>
                    <tr>
                        <td><label>Account:</label></td>
                        <td><input type="text" class="input-form" placeholder="Username/Phone/Email" />
                        <hr>
                        </td>
                    </tr>
                        
                    <tr>    
                        <td><label>Password:</label></td>
                        <td><input type="password" class="input-form" placeholder="Password" /><hr></td>
                    </tr>            
            
                    <tr>
                        <td><label>Captcha:</label></td>
                        <td><input class="input-form" type="text" id="server" placeholder="Captcha" />
                        <hr></td>
                    </tr>

                </table>

                <br><button class="login-button" type="submit">Log in</button>
                    
            </form>

            <a id="register-link" href="#">Sign up</a>
            <a id="forgotpswd-link" href="#">Forgot password</a>

        </div>
    
  </body>
</html>