{% extends "profile/profile_base.html" %}

{% block title %}Invest{% endblock %}


{% block content%}
{% if status == 0%}
<style>
   

</style>
{% endif %}
    <style>

        .invest-block
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);

            width: 1000px;
            height: 500px;
            border-radius: 20px;
            
            background-color: white;
        }

        .qr
        {
            border: 5px solid white;
            border-radius: 10px;
        }

        .txid-form
        {

        }

        input[type=text]
        {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            
            border: 1px solid black;
            width:50%;
        }

        .submit-btn
        {
            width: 40%;
            height: 40px;
            background-color: gray;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

    </style>

    <div class="invest-block">
        <center>
            <br>
            <div>
                <h2>{{user}}, Please Complete Your Investment Deposit</h2>
            </div>
            <div style="height: 10px;"></div>
            <p>Send {{sum}} BTC to the Bitcoin address below:</p>
            <div style="height: 10px;"></div>
            <p style="color: green;">3Q6KLQ3MdcHTURqExHDDSbBWjQcRpxe37k</p>
            <div style="height: 5px;"></div>
            <img class="qr" src="{{url_for('static', filename='images/qrwal.png')}}" >
            <div style="height: 50px;" ></div>
            <div class="txid-form">
                <form action="#" method="post" style="height: 10px;">
                    
                    <input type="text" placeholder="TXID" name="TXID" required>
                    <br>
                    <input type="submit" class="submit-btn" value="Send request">
                </form>
            </div>
        </center>
        <center><div style="height: 10px;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h5 style="color: red">{{message}}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div></center>
    
    </div>

    

{% endblock %}