{% extends "profile/profile_base.html" %}

{% block title %}Transfer{% endblock %}


{% block content %}

<style>

    span
    {
        display:block;
        border:2px solid #0f2112;
        border-radius:5px;padding:10px;
        margin-left:9%;
        margin-right:7%;
        margin-top:50px;
        margin-bottom:10px;
        color:red;
    }

    .transfer-block
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);

            width: 95%;
            height: 90%;

            border-radius: 20px;

            background-color: white;


        }

    .submit-btn
        {
            width: 100%;
            height: 40px;
            background-color: gray;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

    .transfer-form
    {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);

            width: 800px;
            height: 400px;
    }

    .transfer-form form
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);
            width: 400px;
        }

    input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }
    input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }

    .trans-a
    {
        color: blue;
        position: absolute;
        left: 5%;
        top: 90%;
        font-size: small;
    }

</style>

{% if status == 0%}
<style>
    .transfer-block
    {
        filter: blur(2px);
        pointer-events:none;
    }

</style>
{% endif %}

<div class="transfer-block">

    <span style="color:red">
        Maximum transfer amount is 0.2 BTC per transaction
    </span>

    <div class="transfer-form">
            <form action="#" method="post">
                <label >Amount: (Your balance: <b>{{balance1}} BTC</b>)</label>
                <div style="height: 5px"></div>
                <input type="number" step="0.01" placeholder="Amount" name="amount" size="30" required>
                <div style="height: 5px"></div>
                <label>Username(or User ID):</label>
                <div style="height: 5px"></div>
                <input type="text" placeholder="Username/User ID" name="receiver_addr" size="30" required>
                <div style="height: 5px"></div>
                <label>Secure key(<b>not required for VIP users</b>):</label>
                <div style="height: 5px"></div>
                {% if status == 0 %}
                    <input type="text" placeholder="Secure Key" name="secure_key" size="30">
                {% else %}
                    <input type="text" placeholder="Secure Key" name="secure_key" size="30" disabled>
                {% endif %}
                <div style="height: 15px"></div>
                <input type="submit" value="Send" class="submit-btn">
            </form>

                <center><div style="height: 50px;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>
                            <h5 style="color: red">{{message}}</h5>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div></center>

        </div>
    <a class="trans-a" href="/transfer/history">Transfer history</a>
</div>

{% endblock %}