{% extends "profile/profile_base.html" %}

{% block title %}Withdraw{% endblock %}


{% block content %}
{% if status == 0%}
<style>
    .withdraw-block
    {
        filter: blur(2px);
        pointer-events:none;
    }

</style>

{% endif %}

    <style>

        .withdraw-block
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);

            width: 95%;
            height: 90%;

            border-radius: 20px;

            background-color: white;

            
        }

        .withdraw-form
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);

            width: 700px;
            height: 400px;
        }

        .withdraw-form form 
        {
            position: absolute;
            left: 50%; /* relative to nearest positioned ancestor or body element */
            top: 50%; /*  relative to nearest positioned ancestor or body element */
            transform: translate(-50%, -50%);
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
          }

        .submit-btn
        {
            width: 100%;
            height: 40px;
            background-color: gray;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

    </style>

    <div class="withdraw-block">

    

        <div class="withdraw-form">
            <form action="#" method="post">
                <label >Amount: (Your balance: {{balance1}} BTC)</label>
                <div style="height: 5px"></div>
                <input type="number" placeholder="Amount" name="amount" size="30" required>
                <div style="height: 5px"></div>
                <label>Receiver adress:</label>
                <div style="height: 5px"></div>
                <input type="text" placeholder="Receiver adress" name="receiver_addr" size="30" required>
                <div style="height: 5px"></div>
                <label>Secure key:</label>
                <div style="height: 5px"></div>
                <input type="text" placeholder="Secure Key" name="secure_key" size="30" required>
                <a href="/recovery" style="font-size: 12px;">Forgot Secure Key</a>
                <div style="height: 15px"></div>
                <input type="submit" value="Send" class="submit-btn">
            </form>
        </div>

        <center><div style="height: 50px;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <br>
                        <h5 style="color: red">{{message}}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div></center>

    </div>

{% endblock %}