* {
    box-sizing: border-box;
    margin: 0;
  }

.register-form-div
{
    left: 50%;
    top: 50%;
    position  : absolute;
    transform : translate(-50%, -50%);

    width: 35%;
    height: 80%;
    background: white;
    border: 5px white;
    border-radius: 20px;
    margin: 40px auto;
    padding: 0;
    box-shadow: 2px 2px 5px;
}

.register-form
{
    left: 70%;
    top: 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    width: 100%;
    align-items: center;
}

.navbar
{
    background-color: green;
}

::placeholder{
    overflow: visible;
    }

.submit-btn2
{
    width: 80%;
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    left: -10%;
    position  : absolute;
}
